<a href="https://colab.research.google.com/github/Tongkat4/MY-ANALYSIS/blob/main/RANDOMFOREST_TEST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab  import drive
drive.mount('/content/drive')
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
pru14 = pd.read_csv('drive/MyDrive/random forest(pru14).csv')
pru14

                      pplid  parid  dunid  ...  bangsasabah umur41_ats parti
0      14904417058079100000     62     22  ...    LAIN-LAIN          1   DAP
1       8856425594602710000     62     22  ...    LAIN-LAIN          1    BN
2       9030229112814880000     62     21  ...         CINA          1    BN
3      17366212710566700000     62     22  ...         CINA          1    BN
4       2285398768685050000     62     22  ...    LAIN-LAIN          1    BN
...                     ...    ...    ...  ...          ...        ...   ...
53088  11744860569481500000     62     22  ...    LAIN-LAIN          0   DAP
53089   1435955332935190000     62     22  ...    LAIN-LAIN          0   DAP
53090   3869047154407170000     62     22  ...          BBI          0   DAP
53091   5586408959507350000     62     22  ...           BI          0   DAP
53092  17102434173308400000     62     21  ...           BI          0    BN

[53093 rows x 10 columns]

In [ ]:
#drop  irrelevant columns
pru14.drop(['age'], axis=1, inplace=True)
pru14.drop(['parid'], axis=1, inplace=True)
#pru14.drop(['jantina'], axis=1, inplace=True)
#pru14.drop(['umur41_ats'], axis=1, inplace=True)

In [ ]:
sizes= pru14['bangsasarawak'].value_counts(sort=1)
sizes

CINA              19224
MELAYU/MELANAU    17988
LAIN-LAIN         15864
IBAN                 10
ORANG ULU             5
BIDAYUH               2
Name: bangsasarawak, dtype: int64

In [ ]:
#convert non-numeric to numeric
pru14.parti[pru14.parti == 'BN'] = 1
pru14.parti[pru14.parti == 'DAP'] = 2
pru14.parti[pru14.parti == 'PAS'] = 3
pru14.jantina[pru14.jantina == 'L'] = 1
pru14.jantina[pru14.jantina == 'P'] = 2
pru14.bangsasemenanjung[pru14.bangsasemenanjung == 'MELAYU'] = 1
pru14.bangsasemenanjung[pru14.bangsasemenanjung == 'CINA'] = 2
pru14.bangsasemenanjung[pru14.bangsasemenanjung == 'INDIA'] = 3
pru14.bangsasemenanjung[pru14.bangsasemenanjung == 'BUMIPUTRA'] = 4
pru14.bangsasemenanjung[pru14.bangsasemenanjung == 'LAIN-LAIN'] = 5
pru14.bangsasarawak[pru14.bangsasarawak == 'MELAYU/MELANAU'] = 1
pru14.bangsasarawak[pru14.bangsasarawak == 'CINA'] = 2
pru14.bangsasarawak[pru14.bangsasarawak == 'LAIN-LAIN'] = 3
pru14.bangsasarawak[pru14.bangsasarawak == 'IBAN'] = 4
pru14.bangsasarawak[pru14.bangsasarawak == 'ORANG ULU'] = 5
pru14.bangsasarawak[pru14.bangsasarawak == 'BIDAYUH'] = 6
pru14.bangsasabah[pru14.bangsasabah == 'BI'] = 1
pru14.bangsasabah[pru14.bangsasabah == 'CINA'] = 2
pru14.bangsasabah[pru14.bangsasabah == 'LAIN-LAIN'] = 3
pru14.bangsasabah[pru14.bangsasabah == 'BBI'] = 4
pru14

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                      pplid  dunid jantina  ... bangsasabah umur41_ats parti
0      14904417058079100000     22       1  ...           3          1     2
1       8856425594602710000     22       2  ...           3          1     1
2       9030229112814880000     21       2  ...           2          1     1
3      17366212710566700000     22       1  ...           2          1     1
4       2285398768685050000     22       1  ...           3          1     1
...                     ...    ...     ...  ...         ...        ...   ...
53088  11744860569481500000     22       1  ...           3          0     2
53089   1435955332935190000     22       1  ...           3          0     2
53090   3869047154407170000     22       1  ...           4          0     2
53091   5586408959507350000     22       1  ...           1          0     2
53092  17102434173308400000     21       2  ...           1          0     1

[53093 rows x 8 columns]

In [ ]:
#define dependent variable
y= pru14['parti'].values
y=y.astype('int')

In [ ]:
#define independent varialbe
x = pru14.drop(labels=['parti'], axis=1)

In [ ]:
#split data into train and test datasets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train , y_test = train_test_split(x,y, test_size=0.1, random_state=20)

x_train

                      pplid  dunid  ... bangsasabah umur41_ats
45808   5448141516780890000     22  ...           2          0
38046  17636947920694400000     21  ...           1          0
5047    4807458813508980000     22  ...           2          1
14641   4777136722622180000     22  ...           2          1
43386    714286577137475000     22  ...           1          0
...                     ...    ...  ...         ...        ...
23452   7216120040758810000     22  ...           3          1
23775   4043832662247350000     22  ...           1          1
37135   3119329951637780000     21  ...           1          0
27098  16626503219289000000     21  ...           3          1
48483  17764353757567400000     22  ...           1          0

[47783 rows x 7 columns]

In [ ]:
 from sklearn.ensemble import RandomForestClassifier

 model = RandomForestClassifier(n_estimators = 10, random_state=30)

 model.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=30, verbose=0,
                       warm_start=False)

In [ ]:
prediction_test = model.predict(x_test)
prediction_test

array([2, 1, 2, ..., 2, 1, 1])

In [ ]:
from sklearn import metrics 
print("Accuracy =", metrics.accuracy_score(y_test, prediction_test))

Accuracy = 0.7711864406779662

In [ ]:
feature_list=list(x.columns)
feature_imp=pd.Series(model.feature_importances_, index=feature_list).sort_values(ascending=False)
feature_imp

dunid                0.456817
pplid                0.437906
bangsasabah          0.066035
bangsasarawak        0.023070
bangsasemenanjung    0.012761
umur41_ats           0.002481
jantina              0.000930
dtype: float64

In [ ]:
y_test= pd.DataFrame(y_test)

In [ ]:
len(y_test)

5310

In [ ]:
sizes= y_test.value_counts(sort=1)
sizes

1    2696
2    2322
3     292
dtype: int64

In [ ]:
prediction_test= pd.DataFrame(prediction_test)

In [ ]:
sizes= prediction_test.value_counts(sort=1)
sizes

1    2795
2    2279
3     236
dtype: int64